.NewsCard {
    width: calc(33.3333% - 30px);
    margin: 0 15px 30px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}
.NewsCard:hover img {
    transform: scale(1);
}
.NewsCard img {
    transform: scale(1.1);
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.3s;
}
.CardContentInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.DeleteBtn {
    position: relative;
    z-index: 10;
}
.NewsCard a {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}