.CommentItem {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    width: 65%;
    align-items: center;
}
.CommentItem p {
    flex-grow: 5;
    margin: 0;
    padding: 0;
}
.CommentItem span {
    display: inline-block;
    margin-right: 15px;
    font-weight: 700;
}
.DeleteBtn {
    margin: 0 !important;
}